<section class='relative mb-6 h-80 flex justify-center items-center'>
  <div class='absolute w-full h-full overflow-hidden'>
    <img
      src='https://i.pinimg.com/originals/ef/c3/4b/efc34b0f734a726286416c663daac475.jpg'
      class='blur-sm absolute h-auto left-1/2 top-1/2 min-w-full min-h-full object-cover -translate-x-1/2 -translate-y-1/2 opacity-50 -hue-rotate-30'
    />
  </div>
  <div class='z-10 text-center px-8 drop-shadow-lg shadow-black'>
    <div class='uppercase text-sm mb-4'>Welcome to</div>
    <div class='text-4xl font-poppins font-medium'>
      My <span class='text-indigo-500'>Blog</span>
    </div>
  </div>
</section>
